@media screen and (max-width: 1080px) {
  .NavButtons {
    overflow: visible;
    width: 100%;
  }

  .NavButtons{
    float: none;
    flex: 50%;
    flex-direction: column;
  }
}

.App {
  justify-content: start;
  margin-left: 85px;
  margin-right: 85px;
  outline-style: groove;
  outline-color: #F5F5F5;
  outline-width: thin;
  font-family: fontawesome;
}

.App-header {
  height: 50px;
  size: inherit;
  position: sticky;
  top: 0;
  color: white;
  background-color: rgb(129, 29, 29);
}

.NavButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.bookCompartment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(202, 198, 198);
  padding-right: 5px; 
  padding-left: 5px;
  margin: 15px;
  width: 220px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 30, 20);
  color: white;
  height: 50px;
  font-family: fontawesome;
  /* position: sticky; */
  bottom: 0;
  size: inherit;
}

.wishList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.bookWish {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(202, 198, 198);
  padding-right: 5px; 
  padding-left: 5px;
  margin: 15px;
  padding: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  /* border: 1px groove grey; */
}

.cartList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 5px; 
  padding-left: 5px;
  margin: 15px;
  padding: 20px;
}

.purchaseButton {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-right: 80px;
  justify-content: flex-end;
}
.customerDetails {
  display: flex;
  flex-direction: column;
  /* border: 1px groove grey; */
  width: 100%;
  /* padding: 20px; */
  margin-bottom: 20px;
}

.detailsInput {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: inherit;
}

.OrderSummary {
  display: flex;
  flex-direction: row;
  border: 1px groove grey;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

.orderList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5px; 
  padding-left: 5px;
  margin: 15px;
  padding: 20px; 
}

.OrderConfirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continueButton {
  display: flex;
  height: 30px; 
  width: 200px;
  font-size: 25px;
  margin: 20px;
}

.orderPlaced {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartIcon {
  color: white;
  text-decoration: none;
  font-family: fontawesome;
  margin: 20px
}

.checkoutButton {
  display: flex;
  height: 30px; 
  width: 200px;
  font-size: 25px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(114, 134, 189);
  color: white;  
}

/* Login & SignIn button */
.button {
  background-color:white;
  color:black;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 420px;
  margin-right: 420px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  background-color: rgb(129, 5, 5);
  border: 1px groove rgb(53, 47, 47);
}