.App {
  text-align: center;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  margin-left: 30px;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 0, 0);
}

.NavClass {
  margin-top: -80px;
  margin-left: -800px;
}